@charset "utf-8";
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clrflt {
	clear:both;
	line-height:1px;
	font-size:1px;
	overflow: hidden;
}

/* Primary Styles
---------------------------------*/

body {
	background:#f1f4f3;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	}
	
/* wrapper Styles
---------------------------------*/
#wrapper
{
	width:980px;
	margin:0px auto;
}

/* wrapper Styles
---------------------------------*/	
.header_container{
	background:#ffffff;
	border:1px solid #dee0df;
	padding:21px 20px 24px;
	height:31px;
	margin:0 0 20px 0;
	}
	
.logo{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	font-size:35px;
	color:#993333;
	font-weight:bold;
	}
	
.logo a{
	color:#333333;
	text-decoration:none;
	}		
	

.nav{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	font-size:15px;
	color:#333333;
	padding:16px 0 0;
	}
	
.nav ul{
	padding:0px;
	margin:0px;
	list-style:none;
	float:right;
	}
	
.nav ul li{
	display:block;
	float:left;
	padding:0 13px;
	}
	
.nav ul li.last{
	padding-right:0px;
	}	
	
.nav ul li a{
	display:block;
	float:left;
	color:#333333;
	text-decoration:none;
	}
	
.nav ul li a:hover{
	text-decoration:underline;
	}				
	
	
.banner_container{
	height:320px;
	margin:0 0 20px;
	}
.banner_container img {
	border: 1px solid #dee0df;

	}


.container{
	background:#ffffff;
	border:1px solid #dee0df;
	padding:24px 20px 27px;
	margin:0 0 20px;
	font-size:12px;
	color:#666666;
}

.container h2{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:0px 0px 15px;
	margin:0px;
	font-size:24px;
	color:#339999;
	font-weight:normal;
	}
	
.container p{
	padding:0px 0px 30px;
	margin:0px;
	line-height:20px;
	}
	
.article_area ul{
	padding:0px;
	margin:0px;
	list-style:none;
	}
	
.article_area ul li{
	width:291px;
	display:block;
	float:left;
	margin-right:31px;
	font-size:12px;
	color:#666666;
	}
	
.article_area ul li.last{
	margin-right:0px;
	}
	
.article_area ul li img{
	margin:10px 0 10px 0;
	border: 1px solid #f0f2f2;
	}
	
.article_area ul li h3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:0 0 0 2px;
	margin:0px;
	font-size:20px;
	font-weight:normal;
	color:#339999;
	}
	
.article_area ul li span{
	display:block;
	line-height:20px;
	padding-left: 3px;
	}
	
.article_area ul li span a{
	color:#339999;
	text-decoration:underline;
	}
	
.article_area ul li span a:hover{
	text-decoration:none;
	}									

.footer_container{
	background:#ffffff;
}

.footertop{
	border:1px solid #dee0df;
	padding:20px;
	height:1%;
	}

.footer_nav{
	font-size:12px;
	color:#666666;
	}
	
.footer_nav ul{
	padding:0px;
	margin:0px;
	list-style:none;
	}
	
.footer_nav ul li{
	background:url(../img/footer-sep.jpg) no-repeat left center;
	display:block;
	float:left;
	padding:0 12px;
	line-height:18px;
	}
	
.footer_nav ul li.first{
	padding-left:0px;
	background:none;
	}	
	
.footer_nav ul li a{
	display:block;
	float:left;
	color:#666666;
	text-decoration:none;
	}
	
.footer_nav ul li a:hover{
	text-decoration:underline;
	}
	
.social{
	
	}
	
.social span{
	min-width:80px;
	display:block;
	float:left;
	font-size:12px;
	color:#666666;
	line-height:16px;
	}
	
.social ul{
	padding:0px;
	margin:0px;
	list-style:none;
	float:left;
	}
	
.social ul li{
	width:87px;
	display:block;
	float:left;
	font-size:12px;
	color:#666666;
	line-height:16px;
	}
	
.social ul li.last{
	width:auto;
	}	
	
.social ul li.twitter a{
	background:url(../img/twitter.jpg) no-repeat left center;
	}
	
.social ul li.facebook a{
	background:url(../img/facebook.jpg) no-repeat left center;
	}		
	
.social ul li a{
	padding-left:22px;
	display:inline-block;
	color:#666666;
	text-decoration:none;
	}
	
.social ul li a:hover{
	 text-decoration:underline;
	}									

.footerbottom{
	border:1px solid #dee0df;
	padding:20px 20px 20px 20px;
	border-top: 0px;
	}	
	
.copyright{
	font-size:12px;
	color:#999999;
}

.copyright a{
	color:#999999;
	text-decoration:underline;
	}
	
.copyright a:hover{
	text-decoration:none;
	}						
